{% extends "blog/base.html" %}
{% load static %}
{% block content %}
        
        <section class="section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                        <div class="page-wrapper">
                            <div class="blog-top clearfix">
                                <h4 class="pull-left">Recent News <a href="#"><i class="fa fa-rss"></i></a></h4>
                            </div><!-- end blog-top -->
                            {% for post in posts %}
                            <div class="blog-list clearfix">
                                <div class="blog-box row">
                                    <div class="col-md-4">
                                        <div class="post-media">
                                            <a href="#" title="">
                                                <img src="{% static 'blog/upload/tech_blog_01.jpg' %}" alt="" class="img-fluid">
                                                <div class="hovereffect"></div>
                                            </a>
                                        </div><!-- end media -->
                                    </div><!-- end col -->

                                    <div class="blog-meta big-meta col-md-8">
                                        <h4><a href="#" title="">{{ post.title}}</a></h4>
                                        <p>{{ post.content }}</p>
                                        <small class="firstsmall"><a class="bg-orange" href="#" title="">{{ post.tag }}</a></small>
                                        <small><a href="#" title="">{{ post.date_posted|date:"F d, Y" }}</a></small>
                                        <small><a href="#" title="">by {{post.author}}</a></small>
                                    </div><!-- end meta -->
                                </div><!-- end blog-box -->

                                <hr class="invis">
                                {% endfor %}
                                
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section>
        
{% endblock content %}
